<h2>New Landmark Form</h2>
<<<<<<< HEAD

<form method="POST" action="/landmarks">

  <p> Landmark Name: <input type="text" id="landmark_name" name="landmark[name]"> </p>

  <p>Year Completed: <input type="text" id="landmark_year_completed"name="landmark[year_completed]"> </p>

=======
<form method="POST" action="/landmarks">
  <p> Landmark Name: <input type="text" name="landmark[name]"> </p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]"> </p>
>>>>>>> 99590ce684fa16121a82cf096c9ec97e8c9abe21
  <input type="submit"  value="Create New Landmark">
</form>
